@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.hover {
  @apply transition-opacity hover:opacity-60;
}

.button {
  @apply hover rounded-lg bg-cyan-900 px-4 py-2 font-bold text-white;
}
